{% extends 'admin/master.html' %}

{% block title %}Clinic - Admin{% endblock %}

{% block body %}

        <div class="d-flex">
            <div class="w-50 p-2 d-flex align-items-center justify-content-start">
                <div>
                    <span class="d-inline-block text-uppercase text-primary h1 font-weight-bold">Hospital</span>
                    <p class="mb-1">Chúng tôi muốn nghe từ bạn về cách cải thiện dịch vụ của chúng tôi và cung cấp dịch vụ tốt nhất
                         chăm sóc có thể. Nhấn vào đây để gửi ý kiến của bạn cho chúng tôi.</p>
                    <span class="h4">Chào mừng đến với trang quản trị</span>
                </div>
            </div>
            <div class="w-50 p-3">
                <img class="" src="{{ url_for('static', filename='images/bg_admin.svg') }}" alt="doctors">
            </div>
        </div>

{% endblock %}